{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'hobt_dict.css' %}">
  <div class="container" style="font-size: 20px;">
    <h3 class="my-4">문제 사전</h3>
    <form action="{% url 'hobt_dict:adsp_search' %}" method="GET" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 mb-3" type="text" placeholder="검색어를 입력하세요" aria-label="검색어" name="q">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
    </form>
    <hr>
    {% for hobt_dict in adsp_dicts %}
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">{{ hobt_dict.subject }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ hobt_dict.big_category }} | {{ hobt_dict.small_category }} | {{ hobt_dict.appearance_date }}</h6>
          <p class="card-text">{{ hobt_dict.content|safe }}</p>
          <p class="card-text">정답 : {{ hobt_dict.answer }}</p>
          <a href="{% url 'hobt_dict:hobt_dict_detail' hobt_dict.pk %}" class="btn btn-primary">더보기</a>
        </div>
        <div class="card-footer text-muted">
          추천수: {{ hobt_dict.like.count }}
        </div>
      </div>
    {% empty %}
      <p>등록된 문제가 없습니다.</p>
    {% endfor %}
    <hr>
    <div class="pagination justify-content-center">
        {% if hobt_dicts.has_previous %}
        <a class="btn btn-outline-primary btn-sm" href="?page={{ adsp_dicts.previous_page_number }}{% if q %}&q={{ q }}{% endif %}" role="button">이전</a>
        {% else %}
        <button class="btn btn-outline-secondary btn-sm" type="button" disabled>이전</button>
        {% endif %}

        {% for num in page_range %}
          {% if num == adsp_dicts.number %}
            <span class="btn btn-outline-secondary btn-sm">{{ num }}</span>
          {% elif num > 1 and num < adsp_dicts.paginator.num_pages %}
            <a class="btn btn-outline-primary btn-sm" href="?page={{ num }}{% if q %}&q={{ q }}{% endif %}" role="button">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if adsp_dicts.has_next %}
        <a class="btn btn-outline-primary btn-sm" href="?page={{ adsp_dicts.next_page_number }}{% if q %}&q={{ q }}{% endif %}" role="button">다음</a>
        {% else %}
        <button class="btn btn-outline-secondary btn-sm" type="button" disabled>다음</button>
        {% endif %}
    </div>
</div>
{% endblock %}