{% extends 'base.html' %}

{% block content %}
<style>
    html, body {
        height: 100%;
    }
    .content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
    }
    .span {
        font-size: 1.3rem;
        white-space: pre-wrap;
    }
    .item-box {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: #f8f9fa;
    }
</style>
<div class="content-container">
  <div class="container mt-3" style="max-width: 1000px; width: 100%;">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title mb-0">{{ hobt_dict.qid }}번 문제</h3>
          </div>
          <div class="card-body">
            <div class="mb">
              <span class="span font-weight-bold">출제 연도:</span>
              <span class="span">  {{ hobt_dict.appearance_date }}</span>
            </div>
            <div class="mb">
              <span class="span font-weight-bold">대분류:</span>
              <span class="span">      {{ hobt_dict.big_category }}</span>
            </div>
            <div class="mb-4">
              <span class="span font-weight-bold">소분류:</span>
              <span class="span">      {{ hobt_dict.small_category }}</span>
            </div>
            <div class="mb-4 item-box">
              <span class="span font-weight-bold">문제:</span><br>
              <span style="font-size: 1.5rem; white-space: pre-wrap;" class="font-weight-bold">{{ hobt_dict.content }}</span>
            </div>
            <div class="mb">
              <span class="span font-weight-bold">정답:</span>
              <span class="span">         {{ hobt_dict.answer }}</span>
            </div>
            <div class="mb-4">
              <span class="span font-weight-bold">유사 답안:</span>
              <span class="span">  {{ hobt_dict.similar_answer }}</span>
            </div>
              {% if user.is_authenticated %}
              <div class="mb-4">
                <a href="#" class="recommend btn btn-sm btn-outline-secondary" data-pk="{{ hobt_dict.pk }}">
                  추천
                  <span class="badge rounded-pill bg-success like-count">{{ hobt_dict.like.count }}</span>
                </a>
              </div>
              {% else %}
              <div class="alert alert-warning" role="alert">
                추천을 하시려면 <a href="{% url 'common:login' %}?next={{ request.path }}">로그인</a>을 해주세요.
              </div>
              {% endif %}
                {% if user.is_staff %}
                  <div class="mb-4">
                    <a href="{% url 'hobt_dict:hobt_dict_modify' pk=hobt_dict.pk %}" class="btn btn-sm btn-outline-secondary">수정</a>
                  </div>
                {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).on('click', '.recommend', function(e) {
      e.preventDefault();
      const button = $(this);
      const pk = button.data('pk');
      const likeCountSpan = button.find('.like-count');
      $.ajax({
        url: "{% url 'hobt_dict:hobt_dict_like' pk=hobt_dict.pk %}".replace('pk', pk),
        method: 'POST',
        data: {
          'pk': pk,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
          likeCountSpan.html(response.like_count);
          alert(response.message);
        },
        error: function(xhr, errmsg, err) {
          if (xhr.status === 403) {
            alert('로그인이 필요한 기능입니다.');
          } else {
            alert('Error occurred.');
            console.log(xhr.status + ': ' + xhr.responseText);
          }
        }
      });
    });
</script>
{% endblock %}