html, body {
    height: 100%;
}
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.span {
    font-size: 1.3rem;
    white-space: pre-wrap;
}
.item-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f8f9fa;
}
.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}
.form-group-inline {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.form-group-inline label {
  flex-basis: 80px;
  margin-right: 0px;
}
.form-group-inline .form-control {
  flex: 1;
}
.form-group-mini{
width: 50%;
}
.form-group-big{
width: 100%;
}
.pagination .btn {
  padding: 0.375rem 0.5rem;
}
.pagination .btn {
  padding: 0.375rem 0.5rem;
}